[Unit]
Description=Nth POC
After=network.target

[Service]
ExecStart=/home/pocadmin/poc/POC2025-app/bash/nthpoc_https.sh

[Install]
WantedBy=default.target
