# Variables used for Nth POC
# rename poc_env.example to poc_env.py

llm1Model  = "meta/llama-3.1-8b-instruct"
llm1Addr   = "10.101.14.11:8021"

llm2Model  = "mistralai/mistral-7b-instruct-v0.3"
llm2Addr   = "10.101.14.11:8022"

embedModel = "nvidia/nv-embedqa-e5-v5"
embedAddr  = "10.101.14.11:8031"

# Admin Password
adminPass = "test"

logo = "images/NthLabs.png"